1 FONT "..\\Assets\\Font\\DigitalDisplayRegular-ODEO.ttf"
2 FONT "..\\Assets\\Font\\TypoDigitDemo-VG9lV.ttf"
4 FONT "..\\Assets\\Font\\DJB Get Digital.ttf"
3 FONT "..\\Assets\\Font\\MOSCOW2024.ttf"
