3 FONT "assets\\DJB Get Digital.ttf"
4 FONT "assets\\MOSCOW2024.ttf"
5 FONT "assets\\Seven Segment.ttf"
1 FONT "assets\\Digital Display Regular.ttf"
2 FONT "assets\\Digital-7.ttf"
6 FONT "assets\\Typo Digit Demo.ttf"
